# Indenting
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

# Pointers/Variables-ish-stuff
PointerAlignment: Left
QualifierAlignment: Left
SpaceAfterCStyleCast: true

# Spacing and Indentation
ColumnLimit: 100

SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
BreakBeforeBraces: Attach
BinPackArguments: true

AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: true
AllowAllArgumentsOnNextLine: true
